      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<%= link_to "Home", root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}"  %>
							<%= link_to "Athlete's Den", root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}"  %>
						</ul>
						<ul class="navbar-nav mb-2 mb-lg-0">
							<% unless user_signed_in? %>
								<%= link_to "Sign up", new_user_registration_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_registration_path)}" %>
								<%= link_to "Sign in", new_user_session_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_session_path)}" %>
								<% end %>
							<% if user_signed_in? %>
								<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link #{'active fw-bold' if current_page?(new_user_session_path)}" %>

								<div class="navbar-end">
									<p class="navbar-text">Signed in as <%= "#{current_user.email}" %></p>
								</div>
							<% end %>
						</ul>
					</div>
        </div>
      </nav>