<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid">

		<%= link_to "Athlete's Den", root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}"  %>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<% if user_signed_in? %>
					<%= link_to "My Workouts", user_exercises_path(current_user), class: "nav-link #{'active fw-bold' if current_page?(user_exercises_path(current_user)) }"  %> 
				<% end%>
		
				<%= form_tag( search_dashboards_path, class: "d-flex", role: "search", remote: true) do |f| %>
					<%= text_field_tag :search_name, nil, placeholder: "Search for friends", class: "me-2 form-control" %>
				  <button class="btn btn-outline-secondary" type="submit">Search</button>
					<%
=begin%>
 <%= submit_tag "Search", class: "btn btn-default"  %> 
<%
=end%>
				<% end %>
			</ul>

			<ul class="navbar-nav mb-2 mb-md-0">
				<% unless user_signed_in? %>
					<%= link_to "Sign up", new_user_registration_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_registration_path)}" %>
					<%= link_to "Sign in", new_user_session_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_session_path)}" %>
				<% else %>
					<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link #{'active fw-bold' if current_page?(new_user_session_path)}" %>

					<div class="navbar-end">
						<p class="navbar-text">Signed in as <%= "#{current_user.email}" %></p>
					</div>
				<% end %>
			</ul>
		</div>
	</div>
</nav>