<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/shared/nav" %>
    </header>
    <main>
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |key, msg| %>
            <div class="alert alert-<%= key == "alert" ? "warning" : "success" %>
              alert-dismissable fade show" role="alert">
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
 
    
  </body>
</html>
